<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AboutBox" version="2.0.0" targetFramework="net462" />
  <package id="Dirkster.AvalonDock" version="4.60.0" targetFramework="net462" />
  <package id="Dirkster.AvalonDock.Themes.Aero" version="4.60.0" targetFramework="net462" />
  <package id="Dirkster.AvalonDock.Themes.Expression" version="4.60.0" targetFramework="net462" />
  <package id="Dirkster.AvalonDock.Themes.Metro" version="4.60.0" targetFramework="net462" />
  <package id="Dirkster.AvalonDock.Themes.VS2010" version="4.60.0" targetFramework="net462" />
  <package id="Dirkster.AvalonDock.Themes.VS2013" version="4.60.0" targetFramework="net462" />
  <package id="DotNetProjects.Extended.Wpf.DataGrid" version="4.6.97" targetFramework="net462" />
  <package id="DotNetProjects.Extended.Wpf.Toolkit" version="4.6.97" targetFramework="net462" />
  <package id="DynamicDataDisplayWpf" version="0.4.0" targetFramework="net462" />
  <package id="Google.Protobuf" version="3.34.0" targetFramework="net462" />
  <package id="Grpc" version="2.46.6" targetFramework="net462" />
  <package id="Grpc.Core" version="2.46.6" targetFramework="net462" />
  <package id="Grpc.Core.Api" version="2.46.6" targetFramework="net462" />
  <package id="JohnVerbiest.TransformOnBuild" version="1.3.2" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.1" targetFramework="net462" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net462" />
  <package id="System.Memory" version="4.6.3" targetFramework="net462" />
  <package id="System.Net.Http.WinHttpHandler" version="8.0.3" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
</packages>